/*color: #88124d; 
  color: #be6161;
  color: #d4d6d8c2;



*/
/*--------------------------------------------------------------
GENERALE
--------------------------------------------------------------*/
html {
    scroll-behavior: smooth;
}

body {
    background-image: url(../images/images/fond_code3.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 100%;
    overflow-x: hidden;
}

header {
    background-color: rgb(255, 255, 255, 0.8);
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.icone_retour {
    font-size: 35px;
    color: #88124d;
    margin-left: 3%;
    margin-top: 12%;
    position: fixed;
}

p {
    font-family: sans-serif;
    text-align: justify;
}

h3 {
    font-family: fantasy;
    color: #be6161
}


h2 {
    font-family: 'Raleway', 'sans-serif', 'fantasy';
    font-size: 2vw;
    text-align: center;
    margin-bottom: 2%;
    margin-top: 14%;
    font-weight: 900;
    color: #88124d;
    border-bottom: solid 3px #2d3960;
}

h5 {
    font-size: 2vw;
}

/*--------------------------------------------------------------
# surcharge navbar bootstrap
--------------------------------------------------------------*/


.navbar {
    position: relative;
    top: 0px;
    right: 0px;
    left: 0px;
    z-index: 1030;

}

.bg-light {
    background-color: #d4d6d8c2 !important;
}

.navbar-horizontale {
    margin-bottom: 1vw;

}

.navbar-nav a {
    font-size: 20px;
}

/*--------------------------------------------------------------
# présentation visu home
--------------------------------------------------------------*/


.photo_1 {
    background: url(../images/images/tea.jpeg);
    width: 83%;
    background-size: cover;
    height: auto;
    margin-left: 17vw;
    background-attachment: fixed;
}

.home_title {
    position: relative;
    top: 40px;
}


.home_title p {
    margin-bottom: 50px;
    font-family: "Dancing Script", "Source Serif Pro";
    font-size: 60px;
    color: #9a2929;
    top: 20px;


}

/*# Hero Section*/
#hero {
    width: 100%;
    height: 100vh;

}

#hero:before {
    content: "";

    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

#hero .hero-container {
    position: relative;
    z-index: 2;
    min-width: 300px;
}

#hero h1 {
    margin: 0 0 10px 0;
    font-size: 2.5vw;
    font-weight: 700;
    line-height: 56px;
    color: #fff;
}

#hero p {
    color: #fff;
    margin-bottom: 50px;
    font-size: 26px;
    font-family: "Poppins", sans-serif;
}

#hero p span {
    color: #fff;
    padding-bottom: 4px;
    letter-spacing: 1px;
    border-bottom: 3px solid #149ddd;
}

@media (min-width: 1024px) {
    #hero {
        background-attachment: fixed;
    }
}

@media (max-width: 768px) {
    #hero h1 {
        font-size: 28px;
        line-height: 36px;
    }

    #hero h2 {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 30px;
    }
}


/*--------------------------------------------------------------
A Propos
--------------------------------------------------------------*/

/*icones*/
.prod_icon {
    font-size: 180%;
    color: #88124d;
}

.prod_icon:hover {
    transform: translateX(20px);
    transition: all 1s;
}



/*--------------------------------------------------------------
Formation
--------------------------------------------------------------*/



.container .formation {
    background-image: url(../images/images/champ_de_the.jpeg);
    width: 27vw;
    text-align: center;
    margin-bottom: 50px;
}

.famille_forma h4 {
    color: white;
    font-family: serif;

    width: 250px;
    display: inline-table
}

.famille_forma p {
    color: black;
    font-family: serif;

    width: 250px;
    display: inline-table
}

.color_bande {
    background-color: #d4d6d8c2;
    text-align: center;
}

.color_bande h4 {
    color: #656d74ec;
}

.famille_details,
img {
    max-width: 18vw;
}

/*--------------------------------------------------------------
Barres de competences
--------------------------------------------------------------*/

.progress {
    background: #e3e3e6;
    height: 18px;
    width: 400px;
    overflow: hidden;
    position: relative;
    border-radius: 0px;
}

small {
    position: absolute;
    top: 8px;
    right: 140px;
}

.progress-done {
    background: linear-gradient(to left, #566fc3, #d2d6ec);
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 0;
    transition: 1s ease;
}

#mesCompetences .row .col-md-6 p {
    margin-top: 20px;
    margin-bottom: 2px;
}
