/*
  color: #2d1dff;
  color:#f5614d;
  color: #8e453a;

￼ background-color: #422f2c;


font-family: 'Poppins',
sans-serif


font-family: 'Montserrat Subrayada',
sans-serif;

font-family: 'Montserrat',
sans-serif;
*/
/*--------------------------------------------------------------
GENERALE
--------------------------------------------------------------*/
html {
    scroll-behavior: smooth;
}

body {
    background-image: url(../images/images/fond_code3.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 100%;
    overflow-x: hidden;
}

header {
    background-color: rgb(255, 255, 255, 0.8);
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

img {
    width: 100%;
}

.col-md-2,
.col-md-4,
.col-md-6,
.col-md-8,
.col-md-10,
.col-md-12,
header section {
    margin-left: 0em;
    padding-right: 0px;
    padding-left: 0px;
}

.header section .container {
    max-width: 80em;
}

p {
    font-family: sans-serif;
    text-align: justify;
}

h3 {
    font-family: fantasy;
    color: #be6161
}


h2 {
    font-family: 'Raleway', 'sans-serif', 'fantasy';
    font-size: 2vw;
    text-align: center;
    margin-bottom: 2%;
    margin-top: 14%;
    font-weight: 900;
    color: #88124d;
    border-bottom: solid 3px #2d3960;
}

h5 {
    font-size: 2vw;
}

@media (min-width: 1024px) {}

@media (max-width: 768px) {}

/*--------------------------------------------------------------
# surcharge navbar bootstrap + photo accueil
--------------------------------------------------------------*/
/*STICKY*/
.fake-header {
    height: 50px;
    position: absolute;
}

/*FIN STICKY*/

.navbar-horizontale {
    position: absolute;
    width: 100%;
}

.navbar-horizontale.sticky {
    position: fixed;
    width: 100%;
    background-color: #88124d;
    z-index: 5000;
}

.navbar {
    position: relative;
    top: 0px;
    right: 0px;
    left: 0px;
    z-index: 1030;

}

.nav-link {
    padding-right: 30px !important;

}

.navbar-nav {
    margin-left: 20%;
    white-space: nowrap;
}



.navbar-nav a {
    color: #f5614d !important;
    font-size: 100%;
    font-weight: 500;
    font-family: 'Montserrat',
        sans-serif !important;
}

.navbar-nav a:hover {
    color: #8e453a !important;
}

@media (max-width: 1824px) {
    .navbar-nav {
        margin-left: 50%;

    }
}

@media (max-width: 1524px) {
    .navbar-nav {
        margin-left: 10%;
        display: block;
    }
}

@media (max-width: 768px) {
    .navbar-horizontale {
        position: fixed;
        background-color: #d2d6ec;
        z-index: 5;
    }
}

/*--------------------------------------------------------------
# présentation visu home
--------------------------------------------------------------*/

/*# Hero Section*/

.d-flex {
    position: absolute;
}

#hero {
    width: 100%;
    height: 100vh;

}

#hero:before {
    content: "";
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

#hero .hero-container {
    margin-top: 31%;
    margin-right: 55%;
    z-index: 2;
    min-width: 300px;
}

#hero h1 {
    margin: 0 0 10px 0;
    font-size: 3vw;
    font-weight: 600;
    line-height: 56px;
    color: #050505;
    font-family: 'Poppins',
        sans-serif;
}

#hero p {
    color: #050505;
    margin-bottom: 50px;
    font-size: 2vw;
    font-family: 'Poppins',
        sans-serif
}

#hero p span {
    color: #f5614d;
    padding-bottom: 4px;
    letter-spacing: 1px;
    border-bottom: 3px solid #f5614d;
}

@media (min-width: 1024px) {
    #hero {
        background-attachment: fixed;
    }
}

@media (max-width: 768px) {
    #hero h1 {
        font-size: 28px;
        line-height: 36px;
    }

    #hero h2 {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 30px;
    }
}

/*--------------------------------------------------------------
Navbar laterale
--------------------------------------------------------------*/
.navbarLaterale {
    width: 100%;
    height: 400px;


}

.curriCum {
    text-align: right;
    margin-top: 25px;
    margin-right: 15px;
    position: fixed;
}

.curri-vitae {
    margin-top: 2vw;
    margin-left: 2vw;
    position: fixed;
    text-align: right;
    color: #ffffff !important;
    font-size: 3em;
    font-weight: 500;
    font-family: 'Poppins' !important;

}

.oeilBeauf {
    background-image: url(../images/images/photoMoi.jpg);
    background-size: contain;
    border: solid 2px white;
    margin-left: 1vw;
    margin-top: 10%;
    width: 14vw;
    height: 14vw;
    border-radius: 50%;
    position: fixed;
}


.col-md-2.navbarLaterale {
    background-color: #444444;
    height: auto;
    max-width: inherit;
}

.navlater {
    height: 370px;
    display: grid;
    margin-top: 15vw;
    margin-left: 30%;

}

.navlater .bouton {
    background-color: #444444;
    width: 100px;
    height: 36px;
    border: solid 2px #ffffff;
    text-align: center;


}

.navlater .bouton a {
    color: #f5614d;

}

.icone_retour {
    font-size: 35px;
    color: #f5614d;
    position: fixed;
}

.icone_retour:hover {
    color: #8e453a;
}

/*--------------------------------------------------------------
A Propos
--------------------------------------------------------------*/

/*icones*/
.prod_icon {
    font-size: 180%;
    color: #88124d;
}

.prod_icon:hover {
    transform: translateX(20px);
    transition: all 1s;
}



/*--------------------------------------------------------------
Formation
--------------------------------------------------------------*/



.container .formation {
    background-image: url(../images/images/champ_de_the.jpeg);
    width: 27vw;
    text-align: center;
    margin-bottom: 50px;
}

.famille_forma h4 {
    color: white;
    font-family: serif;
    width: 250px;
    display: inline-table
}

.famille_forma p {
    color: black;
    font-family: serif;
    width: 100%;
    display: inline-table
}

.famille_forma img {
    width: 100%;
}

.color_bande {
    background-color: #d4d6d8c2;
    text-align: center;
}

.color_bande h4 {
    color: #656d74ec;
}



/*--------------------------------------------------------------
Barres de competences
--------------------------------------------------------------*/

.progress {
    background: #e3e3e6;
    height: 18px;
    width: 400px;
    overflow: hidden;
    position: relative;
    border-radius: 0px;
}

small {
    position: absolute;
    top: 8px;
    right: 140px;
}

.progress-done {
    background: linear-gradient(to left, #566fc3, #d2d6ec);
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 0;
    transition: 1s ease;
}

#mesCompetences .row .col-md-6 p {
    margin-top: 20px;
    margin-bottom: 2px;
}
